$colors: (
  "background": #f8f9ff,
  "light-gray": #777777,
  "dark-gray": #232323,
  "blue": #01a1ff,
  "red": #cc3909,
  "green": #7bb31a,
  "pink": #ff6680,
  "orange": #f2b200,
  "yellow": yellow
);
$body-font-family: "Didact Gothic", sans-serif;
$header-font-family: "Questrial", sans-serif;
