$colors: (
  "background": #f8f9ff,
  "light-gray": #777777,
  "dark-gray": #232323,
  "blue": #01a1ff,
  "red": #cc3909,
  "green": #7bb31a,
  "pink": #ff6680,
  "orange": #f2b200,
  "yellow": yellow,
  "gb-green": #8bac0f,
  "dark-gb-green": #0f380f,
  "light-gb-green": #9bbc0f,
);
$body-font-family: "VT323", monospace;
$header-font-family: "VT323", monospace;
